[Unit]
Description=MySQL watcher service
After=syslog.target network.target mysql.service mysqld.service mariadb.service

[Service]
Environment="G_SLICE=always-malloc" "HOME=/root"
Type=notify
WatchdogSec=240s
PIDFile=/var/run/db-governor2.pid
Restart=on-failure
RestartSec=3
TimeoutSec=10s

ExecStartPre=/usr/share/lve/dbgovernor2/mysqlgovernor.py --restore-config
ExecStart=/usr/sbin/db_governor2
ExecStopPost=/bin/sh -c "if pgrep db_governor2 1>/dev/null; then pkill -SIGTERM db_governor2 2>/dev/null; fi"

[Install]
WantedBy=multi-user.target