[Unit]
Description=MySQL watcher service
After=syslog.target network.target mysql.service mysqld.service mariadb.service

[Service]
Environment="G_SLICE=always-malloc" "HOME=/root"
Type=simple
PIDFile=/var/run/db-governor.pid
Restart=on-failure
RestartSec=3
TimeoutSec=10s

ExecStart=/usr/sbin/db_governor
ExecStopPost=/bin/sh -c "if pgrep db_governor 1>/dev/null; then pkill -SIGTERM db_governor 2>/dev/null; fi"

[Install]
WantedBy=multi-user.target