Source: governor-mysql
Section: System/Base
Priority: optional
Maintainer: Cloudlinux Packaging Team <packager@cloudlinux.com>
Build-Depends: debhelper-compat (= 12),
               libglib2.0-dev,
               libxml2-dev,
               libncurses-dev,
               cmake,
               autoconf,
               tar,
               libpcre3-dev,
               patch,
               libsystemd-dev,
               libmariadb-dev,
               cloudlinux-venv,
               alt-python27-cllib (>= 3.3.3-1),
               gawk,
               sed,
               coreutils
Standards-Version: 4.4.1
Homepage: http://cloudlinux.com

Package: governor-mysql
Architecture: any
Pre-Depends: debconf,
             procps,
             systemd
Depends: ${shlibs:Depends}, ${misc:Depends},
         debconf,
         libtry-tiny-perl,
         tmpreaper,
         cloudlinux-venv,
         alt-python27-cllib (>= 3.3.3-1),
         lve-utils (>= 6.5.2-1),
# governor writes some files that lve-stats DBGovSaver plugin writes and deletes
         lve-stats
Description: DB control utilities
 This package provides dbtop, db_governor utilities.

Package: governor-mysql-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: db_governor development headers
 This package contains the development header files necessary
 to develop db_governor client applications.
