#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --buildsystem=cmake

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	dh_auto_configure -- 	-DSYSTEMD_FLAG:BOOL=1

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/tmp/usr/sbin/
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/
	install -m 755 $(CURDIR)/debian/governor-mysql/usr/bin/db_governor $(CURDIR)/debian/tmp/usr/sbin/db_governor
	install -m 755 $(CURDIR)/debian/governor-mysql/usr/bin/dbtop $(CURDIR)/debian/tmp/usr/sbin/dbtop
	install -m 755 $(CURDIR)/debian/governor-mysql/usr/bin/mysql_unfreeze $(CURDIR)/debian/tmp/usr/sbin/mysql_unfreeze
	install -m 755 $(CURDIR)/debian/governor-mysql/usr/lib/libgovernor.so $(CURDIR)/debian/tmp/usr/lib/libgovernor.so

	mkdir -p $(CURDIR)/debian/tmp/var/lve/dbgovernor/
	mkdir -p $(CURDIR)/debian/tmp/var/lve/dbgovernor-store/
	mkdir -p $(CURDIR)/debian/tmp/etc/container/
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/utils
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/tmp
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/storage
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/history
# install systemd unit files and scripts for handling server startup
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/systemd/system/
	install -m 644 $(CURDIR)/db_governor_ubuntu.service $(CURDIR)/debian/tmp/usr/lib/systemd/system/db_governor.service
	install -m 644 $(CURDIR)/var-lve-dbgovernor\\x2dshm.mount $(CURDIR)/debian/tmp/usr/lib/systemd/system/
	install -D -m 600 $(CURDIR)/db-governor.xml $(CURDIR)/debian/tmp/etc/container/mysql-governor.xml
	install -D -m 664 $(CURDIR)/governor_package_limit.json $(CURDIR)/debian/tmp/etc/container/governor_package_limit.json

# db_governor_test is still not built
#	install -D -m 755 build_test/bin/db_governor $(CURDIR)/debian/tmp/usr/bin/db_governor_test
#	install -D -m 755 build_test/lib/libgovernor.so $(CURDIR)/debian/tmp/usr/lib/libgov_test.so.%{version}
#install utility
	install -D -m 755 $(CURDIR)/install/db-select-mysql $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/db-select-mysql
	install -D -m 755 $(CURDIR)/install/mysqlgovernor_ubuntu.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/mysqlgovernor.py
	install -D -m 755 $(CURDIR)/install/governor_package_limitting.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/governor_package_limitting.py
	install -D -m 755 $(CURDIR)/install/creates_individual_limits_vector_list.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/creates_individual_limits_vector_list.py
	install -D -m 644 $(CURDIR)/install/cl-mysql.repo.default $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/cl-mysql.repo.default
	install -D -m 644 $(CURDIR)/install/utilities.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/utilities.py
	install -D -m 644 $(CURDIR)/install/modules/__init__.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules/__init__.py
	install -D -m 644 $(CURDIR)/install/modules/base.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules/base.py
	install -D -m 644 $(CURDIR)/install/modules/base_ubuntu.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules/base_ubuntu.py
	install -D -m 644 $(CURDIR)/install/modules/cpanel.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules/cpanel.py
	install -D -m 644 $(CURDIR)/install/modules/da.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules/da.py
	install -D -m 644 $(CURDIR)/install/modules/plesk.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules/plesk.py
	install -D -m 644 $(CURDIR)/install/modules/iworx.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules/iworx.py
	install -D -m 644 $(CURDIR)/install/modules/ispmanager.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules/ispmanager.py
	install -D -m 644 $(CURDIR)/install/modules/storage.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/modules/storage.py
	install -D -m 755 $(CURDIR)/install/scripts/chek_mysql_rpms_local $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/chek_mysql_rpms_local
	install -D -m 755 $(CURDIR)/install/scripts/cpanel-delete-hooks $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/cpanel-delete-hooks
	install -D -m 755 $(CURDIR)/install/scripts/cpanel-install-hooks $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/cpanel-install-hooks
	install -D -m 755 $(CURDIR)/install/scripts/cpanel-common-lve $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/cpanel-common-lve
	install -D -m 755 $(CURDIR)/install/scripts/cpanel_map_rebuilder $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/cpanel_map_rebuilder
	install -D -m 755 $(CURDIR)/install/scripts/dbgovernor_map $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/dbgovernor_map
	install -D -m 755 $(CURDIR)/install/scripts/dbgovernor_map.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/dbgovernor_map.py
	install -D -m 755 $(CURDIR)/install/scripts/dbgovernor_map_plesk.py $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/dbgovernor_map_plesk.py
	install -D -m 755 $(CURDIR)/install/scripts/detect-cpanel-mysql-version.pm $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/detect-cpanel-mysql-version.pm
	install -D -m 755 $(CURDIR)/install/scripts/cpanel-mysql-url-detect.pm $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/cpanel-mysql-url-detect.pm
	install -D -m 755 $(CURDIR)/install/scripts/set_cpanel_mysql_version.pm $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/set_cpanel_mysql_version.pm
	install -D -m 755 $(CURDIR)/install/scripts/mysql_hook $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/mysql_hook
	install -D -m 755 $(CURDIR)/install/scripts/map_hook $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/scripts/map_hook
	install -D -m 644 $(CURDIR)/logrotate/mysql-governor $(CURDIR)/debian/tmp/etc/logrotate.d/mysql-governor
	install -D -m 644 $(CURDIR)/install/utils/cloudlinux.versions $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/utils/cloudlinux.versions
	install -D -m 644 $(CURDIR)/install/utils/dbgovernor $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/utils/db_governor
	install -D -m 600 $(CURDIR)/install/list_problem_files.txt $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/
	install -D -m 755 $(CURDIR)/install/utils/mysql_export $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/utils/mysql_export
	install -D -m 755 $(CURDIR)/debian/governor-mysql/usr/bin/dbctl $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/utils/dbctl_orig
	install -D -m 755 $(CURDIR)/install/cpanel/upgrade-mysql-disabler.sh $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/cpanel/upgrade-mysql-disabler.sh
	install -m 755 $(CURDIR)/install/dbctl $(CURDIR)/debian/tmp/usr/sbin/dbctl
	mkdir -p $(CURDIR)/debian/tmp/etc/cron.d/
	install -D -m 644 $(CURDIR)/debian/source/lvedbgovernor-utils-cron $(CURDIR)/debian/tmp/etc/cron.d/
	echo "CloudLinux" > $(CURDIR)/debian/tmp/usr/share/lve/dbgovernor/tmp/INFO
