# mysql binary startup for DirectAdmin servers
# For example, if you want to increase mysql's open-files-limit to 10000,
# you need to increase systemd's LimitNOFILE setting like:
#       [Service]
#       LimitNOFILE=10000

# To reload systemd daemon after changes to this file:
# systemctl --system daemon-reload

[Unit]
Description=MySQL database server
After=syslog.target
After=network.target

[Service]
Type=simple
User=mysql
Group=mysql

# Note: we set --basedir to prevent probes that might trigger SELinux alarms,
# per bug #547485
ExecStart=/usr/bin/mysqld_safe --basedir=/usr

#ExecStartPost=/usr/libexec/mysql-wait-ready $MAINPID

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

# Place temp files in a secure directory, not /tmp
PrivateTmp=true

LimitMEMLOCK=infinity
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target